@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@font-face {
  font-family: "Taberna";
  src: url("../fonts/TabernaSans-Black.ttf");
}
@font-face {
  font-family: "Gilroy-Med";
  src: url("../fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
    font-family: "Gilroy-ExBold";
    src: url("../fonts/Gilroy-ExtraBold.ttf");
  }
@font-face {
  font-family: "Consolas";
  src: url("../fonts/CONSOLA.TTF");
}
body {
  background-image: url("https://i.imgur.com/AvmKsjU.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}

/* body {
    background-image: "http://api.thumbr.it/whitenoise-361x370.png?background=#e2caa4ff&noise=b07a54&density=15&opacity=15";
} */

/* Subheading css */
.outlinetext {
  -webkit-text-stroke: 0.5px #fcdec0;
}
.subhead1 {
  /* position: absolute; */
  left: 0.04em;
  top: -3.48em;
  font-family: "Taberna";
  text-align: center;
  letter-spacing: 0.06em;
  z-index: 1;
  color: #264653;
}
.subhead2 {
  position: relative;
  /* left: 26px; */
  /* top: 12px; */
  left: 0.15em;
  top: -3.545em;
  font-family: "Taberna";
  z-index: -2;
  text-align: center;
  letter-spacing: 0.06em;

  color: #432d1d;
}
.subhead3 {
  position: relative;
  left: 0.3em;
  top: -7.16em;
  font-family: "Taberna";
  text-align: center;
  letter-spacing: 0.06em;
  z-index: -3;
  color: #ee7733;
  margin-bottom: -6rem;
}
.subheadparent {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
@media only screen and (max-width: 600px) {
  .outlinetext {
    -webkit-text-stroke: 0.3px #fcdec0;
  }
  .fontsize {
    font-size: 2.2rem;
  }
  .subhead1 {
    left: 0.04em;
    top: -3.48em;
  }
  .subhead2 {
    left: 0.12em;
    top: -2.05em;
  }
  .subhead3 {
    left: 0.2em;
    top: -4.16em;
    margin-bottom: -4rem;
  }
}
@media only screen and (max-width: 360px) {
  .outlinetext {
    -webkit-text-stroke: 0.1px #fcdec0;
  }
  .fontsize {
    font-size: 1.2rem;
  }
  .subhead1 {
    left: 0.04em;
    top: -3.48em;
  }
  .subhead2 {
    left: 0.08em;
    top: -1.15em;
  }
  .subhead3 {
    left: 0.13em;
    top: -2.3em;
    margin-bottom: -2.2rem;
  }
}


.mainhead1 {
    font-size: 5rem;
  }
  .mainhead2 {
    font-size: 5rem;
    margin-left: 0.3rem;
    margin-top: -5.2rem;
  }
  .mainhead3 {
    font-size: 5rem;
    margin-left: 0.5rem;
    margin-top: -5.2rem;
}

/* Main ideathon head */
@media only screen and (min-width: 670px) {
  .mainhead1 {
    font-size: 9rem;
  }
  .mainhead2 {
    font-size: 9rem;
    margin-left: 0.3rem;
    margin-top: -5.2rem;
  }
  .mainhead3 {
    font-size: 9rem;
    margin-left: 0.5rem;
    margin-top: -5.2rem;
  }
}
/* Hiding the scrollbar */
body {
  /* overflow: hidden; */
}
.mainsubparent {
  /* height: 100%; */
  /* margin-right: -2rem;
  overflow: scroll;
  overflow-x: hidden; */
}
.mainparent {
  /* height: 100rem; */
  /* overflow: hidden; */
}
@media screen and (max-width: 1000px) {
  .mainsubparent {
    /* height: 100rem; */
    /* margin-right: -2rem; */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
  }
  .mainparent {
    /* height: 100rem; */
    /* overflow: hidden; */
  }
}

.ticket {
  -webkit-mask-image: radial-gradient(
    circle 10px at 100% 100%,
    transparent 0,
    transparent 20px,
    black 21px
  );
  background: radial-gradient(
    circle at 0% 100%,
    transparent 21px,
    rgb(255, 255, 255) 21px
  );
}

#text {
    /* font-family: heading; */
    position: relative;
    /* color: white; */
    /* font-size: 5rem; */
    /* z-index: 5; */
  }

#text::before {
    content: "RELIVING THE PAST";
    font-weight: bold;
    /* z-index: 5; */
    left: 0%;
    top: 0%;
    font-size: 2.0rem;
    position: absolute;
    color: #432D1D;
    font-family: "Gilroy-ExBold", sans-serif;
  }

  #text::after {
    content: "2K22";
    font-weight: bold;
    /* z-index: 5; */
    right: 0%;
    bottom: -10%;
    font-size: 2.0rem;
    position: absolute;
    color: #432D1D;
    font-family: "Gilroy-ExBold", sans-serif;
  }
