@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@font-face {
    font-family: "Taberna";
    src: url("../fonts/TabernaSans-Black.ttf");
}
@font-face {
    font-family: "Gilroy-Med";
    src: url("../fonts/Gilroy-Medium.ttf");
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
    font-family: "Consolas";
    src: url("../fonts/CONSOLA.TTF");
}
.subhead
{
font-family: 'TabernaSans-Black';
font-size: 4rem;
text-align: center;
letter-spacing: 0.06em;
color: #264653;
margin:1rem;
}

.ticket {
    -webkit-mask-image: radial-gradient(circle 10px at 100% 100%, transparent 0, transparent 20px, black 21px);
    background: radial-gradient(circle at 0% 100%,transparent 21px, rgb(255, 255, 255) 21px);
}
